*{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
}
.font-17{
    font-size: 1.7rem;
}
.font-30{
    font-size: 3rem;
}
.font-11{
    font-size: 1.1rem;
}
.font-spec{
    font-family: 'Courgette', cursive;
}
nav:hover{
    background-color: white;
}
#fullscreen-navbar{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100vh;
    background-color: white;
}
.display-block-imp{
    display: block !important;
    margin-top: 25px;
    margin-left: 17px;
}
.ls-none{
    list-style-type: none;
}
.navbar-nav li a:hover{
    color: #7e8187 !important;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.vh100{
    height: 100vh;
}
.pb-600{
    padding-bottom: 600px;
}
#bg-img-main{
    background-image: url('../../main/img/bg-img.jpg');
}
.bg-img{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-container{
    max-width: 1400px;
    margin: auto;
}
.mt-10{
    margin-top:5%;
}
.pos-rel{
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
