{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="bg-img-main" class="col-12 bg-img d-flex vh100">
                <div class="bg-img-text m-auto w-100">
                    <h1 class="text-center text-light">Welcome to Clothy</h1>
                    <p class="text-center text-light">Best clothes for best people</p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container mt-10">
        <div class="row d-flex justify-content-center">
            <div class="col-5">
                <img class="w-100 pos-rel" src="{% static 'main/img/man.jpg' %}" alt="Man" style="display:block;">
                <p class="centered text-light font-17">Shop man<p>
            </div>
            <div class="col-5 mt-5">
                <img class="w-100 pos-rel " src="{% static 'main/img/woman.jpg' %}" alt="Woman" style="display:block;">
                <p class="centered text-light font-17">Shop woman<p>
            </div>
        </div>
    </div>
{% endblock %}