<!--#TODO Set 'active' class where users is currently-->
<nav class="navbar navbar-expand-lg navbar-light navbar-trans navbar-fixed-top">
    <button style="border: 0px" class="navbar-toggler" type="button">
      <i class="fas fa-bars nav-link text-light"></i>
    </button>
    <div id="fullscreen-navbar">
      <button style="border: 0px" class="navbar-toggler display-block-imp" type="button">
        <i class="fas fa-times nav-link text-dark"></i>
      </button>
      <ul class="ls-none font-11">
          <li class="nav-item ml-4 mr-2 mt-3">
            <a class="nav-link text-light" href="#">Man</a>
          </li>
          <li class="nav-item ml-4 mr-2">
              <a class="nav-link text-light" href="#">Woman</a>
          </li>
          <li class="nav-item ml-4 mr-2">
              <a class="nav-link text-light" href="#">Kids</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link ml-4 mr-2 text-light" href="#">Login</a>
          </li>
          <li class="nav-item"> 
              <a class="nav-link ml-4 mr-2 text-light" href="#">Search</a>
          </li>
          <li class="nav-item">
              <a class="nav-link ml-4 mr-2 text-light" href="#">Cart(0)</a>
          </li>
          <li class="nav-item"> 
              <a class="nav-link ml-4 mr-2 text-light" href="#">About us</a>
          </li>
        </ul>
    </div>
    <a class="navbar-brand font-30 font-spec ml-4 text-light" href="#">Clothyy</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 font-11 ml-4">
        <li class="nav-item ml-2 mr-2">
            <a class="nav-link text-light" href="#">Man</a>
        </li>
        <li class="nav-item ml-2 mr-2">
            <a class="nav-link text-light" href="#">Woman</a>
        </li>
        <li class="nav-item ml-2 mr-2">
            <a class="nav-link text-light" href="#">Kids</a>
        </li>
      </ul>
      
      <ul class="navbar-nav mr-right mt-2 mt-lg-0 font-11 ml-4 mr-4 text-light">
        <li class="nav-item">
            <a class="nav-link ml-2 mr-2 text-light" href="#">Login</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link ml-2 mr-2 text-light" href="#">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-2 mr-2 text-light" href="#">Cart(0)</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link ml-2 mr-2 text-light" href="#">About us</a>
        </li>
      </ul>
    </div>
  </nav>