{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid nav-white mt-100px">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-3 font-30">About us</h1>
                <div class="d-flex">
                    <div class="custom-container w-33">
                        <p class="text-center font-13 mt-5">This is e-commerce store for selling various clothes dedicated to man, woman and kids. Store is created by Nikola Ciganovic. If you want to learn more about author and his work you can visit 
                        his <a target="blank_" href="http://www.nikolaciganovic.com/">Portfolio page</a>, <a target="blank_" href="https://www.linkedin.com/in/nikola-ciganovi%C4%87-938255167/">Linkin profile</a>, <a target="blank_" href="https://github.com/nciganovic/Clothy">Github profile</a>.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}