{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <!-- Start Background image -->
    <div class="container-fluid">
        <div id="bg-img-main" class="row bg-img">
            <div class="col-12 d-flex vh100-l-vh80-m-vh60-s opacity-6">
                <div class="bg-img-text m-auto w-100">
                    <h1 class="text-center text-light">Welcome to Clothy</h1>
                    <p class="text-center text-light">Best clothes for best people</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Background image -->
    
    <div class="custom-container mt-10">
        <!-- Start man and woman divs -->
        <div class="row d-flex justify-content-center ml-0 mr-0">
            <div class="mr-3 mb-5 img-holder p-0 w47-l-w100-m align-on-small">
                <img class="w-100 zoom-out" src="{% static 'main/img/man-dark.jpg' %}" alt="Man">
                <p class="centered text-light font-17"><a class="text-light" href="{{ man_category.category_slug }}">Shop man</a><p>
            </div>
            <div class="mt-5 ml-3 img-holder p-0 w47-l-w100-m align-on-small mt-0-small">
                <img class="w-100 zoom-out" src="{% static 'main/img/woman-dark.jpg' %}" alt="Woman" style="display:block;">
                <p class="centered text-light font-17"><a class="text-light" href="{{ woman_category.category_slug }}">Shop woman</a><p>
            </div>
        </div>
        <!-- End man and woman divs -->
        <!-- Start Featured product -->
        <div class="row mt-5 ml-3 mr-3">
            <div class="col-12 mt-5 pl-0"><h2 class="font-20 font-weight-bold featured-h2">Featured this month</h2></div>
            <div class="bg-gray col-lg-7 col-md-12 d-flex align-items-center flex-column">
                <h3 class=" mt-5 mb-5 w-100 text-right font-11"><span class="font-weight-bold">{{ product.name }} </span><span>${{ product.price }}</span></h3>  
                <img style="width: 40%; margin-top: 10%; margin-bottom: 18%; opacity: 0;" src="{% static 'main/img/pullover-index.png' %}">            
                <img id="po1" class="product-image centered" style="width: 40%;" src="{{ product.image_1.url }}"> 
                <img id="po2" class="product-image centered" style="width: 40%;" src="{{ product.image_2.url }}"> 
                <img id="po3" class="product-image centered" style="width: 40%;" src="{{ product.image_3.url }}"> 
                <a id="left-arrow" href="#"><i class="far fa-arrow-alt-circle-left font-17 text-dark"></i></a>
                <a id="right-arrow" href="#"><i class="far fa-arrow-alt-circle-right font-17 text-dark"></i></a>
            </div>
            <div class="col-lg-5 col-md-12 pt-10 pl-4 featured-desc">
                <p class="font-15">{{ product.description }}</p> 
                <p class="mt-5"><a class="text-dark font-13" href="#">Discover the product</a></p>
            </div>
        </div>
        <!-- End Freatured product -->
        <!-- Start Lower third -->
        <div class="row mt-5 ml-3 mr-0 d-flex justify-content-center">
            <div id="pant-and-dress" class="w47-l-w100-m mr-3">
                <div class="col-12 img-holder p-0 ">
                    <img class="w-100 zoom-out" src="{% static 'main/img/man-pants-dark.jpg' %}" alt="Woman">
                    <p class="centered text-light font-17"><a class="text-light" href="search?search=man">Man pants</a><p>
                </div>
                <!-- TODO  modify search results -->
                <div class="col-12 img-holder mt-3 p-0">
                    <img class="w-100 zoom-out" src="{% static 'main/img/woman-dress-dark.jpg' %}" alt="Woman">
                    <p class="centered text-light font-17"><a class="text-light" href="search?search=woman">Woman dress</a><p>
                </div>
            </div>
            <div class="img-holder border mt-5 ml-3 mr-3 margin-zero-xs">
                <img class="w-100 zoom-out" src="{% static 'main/img/kids-dark.jpg' %}" alt="Woman" style="display:block;">
                <p class="centered text-light font-17"><a class="text-light" href="{{ kids_category.category_slug }}">Shop kids</a><p>
            </div>
        </div>
        <!-- End Lower third  -->
    </div>

    <script src="{% static 'main/js/zoomInOut.js' %}" type="text/javascript"> </script>
    <script src="{% static 'main/js/productSlider.js' %}" type="text/javascript"> </script> 
{% endblock %}